::-webkit-scrollbar {
  width: 7px;
  background: gray;
}
::-webkit-scrollbar-thumb {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 10px;
}
.outlet__bg {
  /* background: radial-gradient(circle, hsla(199, 12%, 41%, 1) 0%, hsla(228, 75%, 16%, 1) 100%); */
  /* background: radial-gradient(circle, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%); */
  background-image: linear-gradient(to right bottom, #36093d, #29123b, #1e1737, #171930, #151927, #131826, #121726, #101625, #0d132c, #0d0f32, #120937, #1b0039);
}
.image_shadow{
  box-shadow: 0 0 15px 3px indigo;
}
.experience__box__shadow{
  box-shadow: 0 0 8px 4px indigo;
}
.contact__form__shadow{
  box-shadow: 0 0 32px 1px #472a69;
}